NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nhtsa
NHTSA_ALL_MAKES_URL=https://vpic.nhtsa.dot.gov/api/vehicles/getallmakes?format=xml
NHTSA_VEHICLE_TYPES_BASE_URL=https://vpic.nhtsa.dot.gov/api/vehicles/GetVehicleTypesForMakeId/{makeId}?format=xml

LOG_LEVEL=info
INGEST_ON_STARTUP=false

# Postgres prisma Config
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nhtsa

#Ingestion Config
INGESTION_CONCURRENCY=2
INGESTION_BATCH_SIZE=25
INGESTION_REQUEST_DELAY_MS=500
INGESTION_MAX_MAKES=0
INGESTION_TRANSACTION_TIMEOUT_MS=10000

NHTSA_REQUEST_TIMEOUT_MS=30000
NHTSA_MAX_RETRIES=3
NHTSA_RETRY_BASE_DELAY_MS=1000